#search-container{
    text-align:center;
    margin:50px 0;
}
#foods-container {
    display: flex;
    flex-wrap: wrap;
}
.food img, .ingredient-info img {
    width:200px;
}
.food  {
    text-align:center;
    width:200px;
    margin:50px;
}
.ingredient-info img {
    width:400px;
}